@mixin homeText {
  // width: 100vw;
  position: relative;
  bottom: 335px;
  text-align: center;
}

@mixin homeSub {
  color: white;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: 500;
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

@mixin homeTitle {
  color: white;
  font-size: 112px;
  font-weight: bold;
  letter-spacing: 40px;
  margin-top: 25px;
  @media screen and (max-width: 1024px) {
    font-size: 90px;
  }
  @media screen and (max-width: 768px) {
    font-size: 50px;
  }
}

@mixin homeBtn {
  border: 2px solid white;
  background-color: transparent;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 40px;
  transition: 0.4s ease;
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }

  &:hover {
    background-color: rgb(79, 79, 79);
    border: none;
    transition: 0.4s ease;
  }
}

@mixin sectionTitle {
  font-size: 38px;
  color: #2f2e2e;
  letter-spacing: 0.05em;
  font-weight: 500;
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

@mixin sectionSub {
  font-family: "Dancing Script";
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  color: #2f2e2e;
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

@mixin sectionPar {
  font-size: 16px;
  line-height: 1.6em;
  margin-top: 45px;
  color: #2f2e2e;
  width: 50%;
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 14px;
    margin-top: 20px;
  }
}

@mixin sectionBtn {
  border: 2px solid #2f2e2e;
  background-color: transparent;
  margin-top: 57px;
  font-size: 22px;
  font-weight: 700;
  transition: 0.4s ease;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    margin-top: 20px;
  }
}

@mixin sectionBtnHov {
  transition: 0.4s ease;
  background-color: #2f2e2e;
  color: white;
}

@mixin SmallBtn {
  width: 130px;
  height: 42px;
  @media screen and (max-width: 768px) {
    width: 90px;
    height: 30px;
  }
}

@mixin BigBtn {
  width: 190px;
  height: 42px;
  @media screen and (max-width: 768px) {
    width: 140px;
    height: 30px;
  }
}
